<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>בניית אתר תמונות פשוט</title>
</head>

<body style="background-image:url('static/images/landscape.png')">	
	<h1>אתר הבגדים שלי</h1>

	<p>
	<a href="https://www.thenorthface.com/">The North Face</a>
	</p>
	
	<p>
	<a href="jackets.html">Jackects</a>
	</p>

	<p>
	<a href="shoes.html">Shoes</a>
	</p>

	<p>
	<a href="fleece.html">Fleeces</a>
	</p>

	
	<img src="static/images/The North Face.png" alt="picture s missing" >



	
	<p>
	<a href="index.html">Home</a>
	</p>

	
</body>
</html>
